.about {
  margin-bottom: 20px;
  padding: 20px;

  .about__container {
    text-align: left;
    margin-top: 50px;
    background: $color_about;
    padding: 30px 20px;
    color: #fff;
    line-height: 1.4;
    font-family: "Public Sans", sans-serif;

    font-size: 20px;
    border-radius: 40px;
    .about__button {
      text-align: center;
      .link {
        cursor: pointer;

        button {
          border-color: rgb(255, 255, 255);
          background: transparent;
          color: #fff;
          font-size: 15px;
        }
      }
    }
  }
}

.about__skills {
  text-align: left;
  background: $color_skills;
  margin-top: 50px;
  padding: 30px 20px;
  color: #fff;
  line-height: 1.4;
  font-family: "Public Sans", sans-serif;

  font-size: 20px;
  border-radius: 40px;
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .skills__icon {
      width: 15%;
      padding: 20px;
      text-align: center;
      .icon {
        font-size: 50px;
      }
      .skills__name {
        font-size: 10px;
      }
    }
  }
}

//--------media-------------
@media (min-width: 768px) {
  .about {
    display: flex;
    .about__container {
      font-size: 18px;
      width: 50%;
      margin-right: 5px;
    }
    .about__skills {
      font-size: 18px;
      width: 50%;
      margin-left: 5px;
    }
  }
  .about__skills {
    .skills {
      .skills__icon {
        text-align: center;
        padding: 10px;
        .skills__name {
          font-size: 13px;
        }
      }
    }
  }
}
@media (min-width: 925px) {
  .about {
    .about__container,
    .about__skills {
      padding: 40px;
      h5,
      p {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .about {
    padding: 0;
  }
}
