.about {
  text-align: left;
  margin-bottom: 20px;
  padding: 20px;

  .about__container {
    margin-top: 50px;
    background: $color_about;
    padding: 30px 20px;
    color: #fff;
    line-height: 1.4;
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    border-radius: 40px;
    .about__button {
      text-align: center;
      button {
        border-color: rgb(255, 255, 255);
        background: transparent;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        align-items: center;
        padding: 10px 21px;
        font-family: "Public Sans";
        font-weight: 700;
        text-transform: none;
        margin: 15px 21px;
        border-radius: 10px;
      }
    }
  }
}

.about__skills {
  background: $color_skills;
  margin-top: 50px;
  padding: 30px 20px;
  color: #fff;
  line-height: 1.4;
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  border-radius: 40px;
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .skills__icon {
      padding: 10px;
      text-align: center;
      .icon {
        font-size: 50px;
      }
    }
  }
}
