.description {
  margin-top: 100px;
  padding: 0 20px;
  background: $color_fondo;
  .description__presentation {
    text-align: center;
    margin: 0;
    padding: 0;
    h6 {
      letter-spacing: 1px;
      color: #919eab;
      margin: 0;
      padding: 20px;
      font-size: 12px;
      font-family: "Public Sans", sans-serif;
    }
    h1 {
      color: #fff;
      font-size: 45px;
      padding: 25px;
      margin: 0 10px;
      line-height: 1;
      font-family: "Public Sans", sans-serif;
    }
    h3 {
      color: $color_primario;
      font-family: "Public Sans", sans-serif;
      margin: 10px;
      padding: 10px 0 15px;
      font-size: 20px;
    }
    p {
      color: #fff;
    }
  }

  .description__imagen {
    /* background-image: url(/images/Bg-Chaval.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;*/
    img {
      width: 100%;
      display: block;
    }
  }
}
//-----------MEDIA-----------

@media (min-width: 480px) {
  .description {
    .description__presentation {
      h1 {
        font-size: 50px;
      }
    }
  }
}
@media (min-width: 768px) {
  .description {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 50px;
    .description__presentation {
      text-align: left;

      h1 {
        padding: 15px 0;
      }
      h3 {
        font-size: 25px;
      }
      h6 {
        padding: 10px;
      }
      p {
        color: #fff;
        font-size: 20px;
        padding: 10px;

        font-family: "Public Sans", sans-serif;
      }
    }
    .description__imagen {
      width: 40%;
    }
  }
}

@media (min-width: 1200px) {
  .description {
    .description__presentation {
      h1 {
        font-size: 80px;
      }
      h3 {
        font-size: 40px;
      }
    }
  }
}
