body {
  background: $color_fondo;
}
//------------------MENU-----------------------

//----------------------------------------------------------
header {
  background: $color_fondo;
  text-align: center;
  .header__img {
    margin-top: 20px;
    width: 70px;
  }
  .header__nav-menu {
    padding: 10px;
    display: none;
    .header__enlace-menu {
      margin: 0 10px 0px;
      color: #fff;
      text-decoration: none;
    }
  }
}
