.presentation {
  text-align: center;
  background: #161c24;
  h2 {
    margin: 0;
    color: #fff;
    padding: 0 20px;
    font-family: "Public Sans", sans-serif;
    line-height: 1.1;
    font-size: 30px;
    mark {
      background: none;
      color: #00ab55;
    }
  }
}
