.presentation {
  text-align: center;
  background: $color_fondo;
  h2 {
    margin: 0;
    color: #fff;
    padding: 0 20px;
    font-family: "Public Sans", sans-serif;
    line-height: 1.1;
    font-size: 30px;
    mark {
      background: none;
      color: $color_primario;
    }
  }
}

@media (min-width: 925px) {
  .presentation {
    h2 {
      font-size: 40px;
    }
  }
}
@media (min-width: 1024px) {
  .presentation {
    padding: 0;

    h2 {
      padding: 0;
      font-size: 55px;
    }
  }
}

@media (min-width: 1200px) {
  .presentation {
    padding: 150px 0;

    h2 {
      font-size: 60px;
      text-align: center;
    }
  }
}
